* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 50px;
  height: 50px;
  background: #eee;
  font-size: 18px;
  transition: all 0.5s;
  list-style-type: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #276678;
  color: #fff;
  text-decoration: line-through;
  transition: all 0.5s;
}

ul li.checked::before {
  font-size: 1.5rem;
  position: absolute;
  left: 14px;
  top: 14px;
  color: rgb(78, 189, 63);
}

li.checked .delete,
li.checked .edit,
li.checked .time {
  color: white !important;
  opacity: 1 !important;
  text-shadow: none !important;
}

.delete {
  font-size: 1.4rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 16px 12px 16px;
  opacity: 1 !important;
  border: none;
  background: none;
  cursor: pointer;
}

.edit {
  position: absolute;
  right: 56px;
  top: 0;
  padding: 10px 16px 12px 16px;
  opacity: 1 !important;
  border: none;
  background: none;
  cursor: pointer;
}

.time {
  color: #f78501;
  font-size: 18px;
  display: inline;
  float: right;
  padding-right: 120px;
}

.delete:hover,
.edit:hover {
  background-color: #f78501;
  height: 50px;
}

.header {
  background-color: #f78501;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

img {
  background-color: white;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

#liveToastBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  border: none;
}

#liveToastBtn:hover {
  background-color: #bbb;
}

ul li input[type="text"] {
  display: none;
}

ul li.editMode input {
  display: block;
  border: 1px solid #e0e1e4;
  color: rgb(50, 50, 50);
  font-weight: 600;
  margin: -10px 0 0 -10px;
  height: 45px;
  border-radius: 20px;
  width: 60%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1),
    1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

ul li.editMode input:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

ul li input:focus {
  outline: none !important;
}

ul li.editMode span {
  display: none;
}

ul li.editMode {
  height: 50px;
}

.hide {
  display: none;
}
